<div class="card" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">{{ eventData.title }}</h5>
    <p class="card-text">
      {{ eventData.about }}
    </p>
    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
    <!-- <a href="#" class="card-link mx-3">Edit</a> -->
    <a href="#" class="btn btn-primary me-2">Edit</a>
    <a href="#" class="btn btn-danger">Delete</a>
  </div>
</div>
