<div class="card" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">{{ eventData.title }}</h5>
    <h6 class="badge rounded-pill text-bg-warning mb-2">
      {{ eventData.category }}
    </h6>
    <p class="card-text">
      {{ eventData.about }}
    </p>
    <h6 class="badge rounded-pill text-bg-info mb-2">
      Available seats: {{ eventData.bookedSeats }}/{{
        eventData.availableSeats
      }}
    </h6>
    <br />
    <ng-container *ngIf="isAdmin">
      <a (click)="onEdit()" class="btn btn-primary me-2" role="button">Edit</a>
      <a (click)="onDelete()" class="btn btn-danger" role="button">Delete</a>
    </ng-container>
  </div>
</div>
