<div class="mt-5">
  <h1>Admin Login</h1>

  <form [formGroup]="adminLoginForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        aria-describedby="username"
        formControlName="username"
      />

      @if (username.invalid && (username.dirty || username.touched)) { @if
      (username.hasError("required")) {
      <p class="alert alert-danger" role="alert">Username is required.</p>
      } @if (username.hasError("minlength")) {
      <p class="alert alert-danger" role="alert">
        Username must be at least 3 characters long.
      </p>
      } @if (username.hasError("maxlength")) {
      <p class="alert alert-danger" role="alert">
        Username cannot exceed 30 characters.
      </p>
      } }
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
        formControlName="email"
      />
      @if (email.invalid && (email.dirty || email.touched)) { @if
      (email.hasError("required")) {
      <p class="alert alert-danger" role="alert">Email is required.</p>
      } @if (email.hasError("email")) {
      <p class="alert alert-danger" role="alert">Please enter a valid email.</p>
      } @if (email.hasError("maxlength")) {
      <p class="alert alert-danger" role="alert">
        Email cannot exceed 30 characters.
      </p>
      } }
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
      />
      @if (password.invalid && (password.dirty || password.touched)) { @if
      (password.hasError("required")) {
      <p class="alert alert-danger" role="alert">Password is required.</p>
      } @if (password.hasError("minlength")) {
      <p class="alert alert-danger">
        Password must be atleast 6 characters long
      </p>
      } @if (password.hasError("maxlength")) {
      <p class="alert alert-danger" role="alert">
        Password cannot exceed 30 characters.
      </p>
      } }
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="adminLoginForm.valid === false"
    >
      Submit
    </button>
  </form>
</div>
