<ng-container *ngIf="!isAdmin">
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">{{ bookingData.eventId.title }}</h5>
      <h6 class="badge rounded-pill text-bg-warning mb-2">
        category: {{ bookingData.eventId.category }}
      </h6>
      <br />
      <ng-container *ngIf="bookingData.status">
        <h6
          class="badge rounded-pill mb-2"
          [ngClass]="
            bookingData.priceAtBooking === 0
              ? 'text-bg-success'
              : 'text-bg-info'
          "
        >
          {{
            bookingData.priceAtBooking === 0
              ? "Price at booking: Free"
              : "Price at booking: " +
                (bookingData.priceAtBooking | currency : "NGN" : "₦" : "1.2-2")
          }}
        </h6>
        <br />
        <h6 class="badge rounded-pill text-bg-success mb-2">Booked</h6>
        <br />
        <a
          (click)="onCancelBooking()"
          class="btn btn-danger me-2 mb-2"
          role="button"
          >Cancel Booking</a
        >
        <br />
        <a
          (click)="onOpenDetailsModal()"
          class="btn btn-primary me-2 mb-2"
          role="button"
          >view details</a
        >
      </ng-container>
      <ng-container *ngIf="!bookingData.status">
        <h6 class="badge rounded-pill text-bg-danger mb-2">Cancelled</h6>
      </ng-container>
    </div>
  </div>
</ng-container>
