<div
  class="modal fade"
  [class.show]="showConfirmModal"
  [style.display]="showConfirmModal ? 'block' : 'none'"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>{{ message }}</p>
        <button
          type="button"
          class="btn btn-danger me-3"
          data-cy="confirmModal-close-btn"
          (click)="closeConfirmModal()"
        >
          Close
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          data-cy="confirmModal-modalType-btn"
          (click)="handleConfirm()"
        >
          {{ modalType }}
        </button>
      </div>
    </div>
  </div>
</div>
